doctype html
html(lang="en")
    head
        include partials/header
    body
        .form-container 
            h1 Create Account 

            if locals.messages
                .alerts 
                    each category in Object.keys(locals.messages)
                        each error in messages[category]
                            .alert(class=`${category}`)
                                p= error
            
            form#form.box.login-box(method="POST" action="/create-account")
                .field
                    label(for="email") E-mail: 
                    input(type="email" name="email" placeholder="Your email" value= email)
                .field
                    label(for="password") Password:
                    input(type="password" name="password" placeholder="Your password" value=password)
                .field.send
                    input.button(type="submit" value="Create Account")
                .field 
                    a(href="#/login") Login
        
        script(src="/dist/bundle.js")