doctype html
html(lang="en")
    head
        include partials/header
    body
        header.bar
            h1 Task Manager
            a(href="#") Close session

        main.container
            aside.task-container
                .panel.add-task
                    a(href="/new-project" class="button") New
                        span +
                .panel.task-list
                    h2 Tasks
                    ul#tasks.tasks
                        if(tasks.length)
                            each task in tasks
                                li
                                    a(href=`/tasks/${task.url}`)= task.name
            block content

        script(src="/dist/bundle.js")