extends layout

block content
    .main-content
        h1 #{pageName} - #{task.name}

        .container-actions
            a.button(href=`/task/edit/${task.id}`) Edit task
            button#delete-task(data-task-url=task.url type="button" class="button delete") Delete task
